<div id="DashboardController" ng-controller="DashboardController as dashboardCtrl" ng-init="dashboardCtrl.init()">

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="dashboard_details">
        <div class="row x_title">
          <div class="col-md-6">
            <h3>{{dashboardCtrl.dashboard.name}}</h3>
          </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <small>Created Date: {{dashboardCtrl.dashboard.createdDate}}</small>
          <br>
          <small>Created by: {{dashboardCtrl.dashboard.createdBy.forename}}</small>
          <p>Description: {{dashboardCtrl.dashboard.description}}</p> 
        </div>      
        <div class="col-md-3 col-sm-3 col-xs-12 bg-white text-right">
            <a href="#dashboard/{{dashboardCtrl.dashboard._id}}/edit" class="btn btn-success" style="padding: 6px 18px; margin: 5px;">
              <i class="fa fa-edit m-right-xs"></i> Edit Dashboard
            </a>
            <a ng-click="dashboardCtrl.deleteDashboard(dashboardCtrl.dashboard._id)" class="btn btn-danger" style="margin: 5px;">
              <i class="fa fa-trash m-right-xs"></i> Delete Dashboard
            </a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 1%">
    <div class="col-md-12 col-sm-12 col-xs-12" ng-show="!dashboardCtrl.dashboard.widgets || dashboardCtrl.dashboard.widgets.length == 0">
      <div class="dashboard_no_widgets">
        <i class="fa fa-exclamation-circle fa-5x fa-fw"></i>
        <h3>No Widgets!</h3>
      </div>
    </div>
    <div ng-show"widgets" ng-repeat="widget in widgets">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <a href="#widget/{{widget._id}}"><h2>{{ widget.name }}</h2></a>
            <ul class="nav navbar-right panel_toolbox">
              <li>
                <a class="collapse-link" ng-click="mainCtrl.collapse($event)"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li>
                <a href="#widget/{{widget._id}}"><i class="fa fa-wrench"></i></a>
              </li>
              <li>
                <a class="close-link" ng-click="dashboardCtrl.removeWidget(widget._id)"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div ng-show="widget.loading || widget.error" style="text-align: center;">
              <br>
              <i ng-show="widget.loading" class="fa fa-refresh fa-spin fa-5x fa-fw"></i>
              <i ng-show="widget.error" class="fa fa-exclamation-circle fa-5x fa-fw"></i>
              <div ng-show"widget.error">
                {{widget.error}}
                <br>
              </div>
              <br>
            </div>
            <div ng-show="widget.graphType == 'count' && !widget.loading && !widget.error" class="tile_count">
              <div class="tile_stats_count">
                <span class="count-top">Field Path: {{widget.fieldPath.join(".")}}</span>
                <div class="count">{{widget.data}}</div>
                <h3 class="count-bottom">Value: <span class="value">{{widget.value}}</span></h3>
              </div>
            </div>
            <div ng-show="widget.graphType != 'count' && !widget.loading && !widget.error" class="chartSize">
              <canvas id="{{ widget._id }}" class="chart chart-base" 
                  chart-type="widget.graphType" chart-options="widget.options" chart-data="widget.data" chart-labels="widget.labels">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>