<div class="row" ng-controller="EndpointController as endpointCtrl">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_content" ng-init="endpointCtrl.initEdit()">
        <div class="col-md-5 col-sm-5 col-xs-12 details_left">
            <div class="dashboard_left_icon">
              <i class="fa fa-sitemap fa-5x"></i>
              Endpoint
            </div>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12">
          <h3>Endpoint: {{endpointCtrl.endpoint.name}}</h3>
          <div>
            Description: 
            <br>
            <textarea rows="2" style="width: 65%" ng-model="endpointCtrl.endpoint.description">{{endpointCtrl.endpoint.description}}</textarea>
          </div>
          <ul class="list-unstyled user_data">
            <li>
              <i class="fa fa-user-circle"></i> Created By: {{endpointCtrl.endpoint.createdBy}}
            </li>
            <li>
              <i class="fa fa-calendar-check-o"></i> Created Date: {{endpointCtrl.endpoint.createdDate}}
            </li>
          </ul>
          <br>
          <a class="btn btn-success" ng-click="endpointCtrl.saveEndpoint()"><i class="fa fa-floppy-o m-right-xs"></i> Save Endpoint</a>
          <a class="btn btn-danger" ng-click="endpointCtrl.deleteEndpoint(endpointCtrl.endpoint._id)"><i class="fa fa-trash m-right-xs"></i> Delete Endpoint</a>
        </div>
      </div>
    </div>
  </div>
</div>