<div class="row" ng-controller="SystemController as systemCtrl">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_content" ng-init="systemCtrl.initEdit()">
        <div class="col-md-5 col-sm-5 col-xs-12 details_left">
            <div class="dashboard_left_icon">
              <i class="fa fa-desktop fa-5x"></i>
              System
            </div>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12">
          <h3>System: {{systemCtrl.system.name}}</h3>
          <div>
            Description: 
            <br>
            <textarea rows="2" style="width: 65%" ng-model="systemCtrl.system.description">{{systemCtrl.system.description}}</textarea>
          </div>
          <ul class="list-unstyled user_data">
            <li>
              <i class="fa fa-user-circle"></i> Created By: {{systemCtrl.system.createdBy}}
            </li>
            <li>
              <i class="fa fa-calendar-check-o"></i> Created Date: {{systemCtrl.system.createdDate}}
            </li>
          </ul>
          <br>
          <a class="btn btn-success" ng-click="systemCtrl.saveSystem()"><i class="fa fa-floppy-o m-right-xs"></i> Save System</a>
          <a class="btn btn-danger" ng-click="systemCtrl.deleteSystem(systemCtrl.system._id)"><i class="fa fa-trash m-right-xs"></i> Delete System</a>
        </div>
      </div>
    </div>
  </div>
</div>