<div class="row" ng-controller="WidgetController as widgetCtrl">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_content" ng-init="widgetCtrl.getWidget()">
        <div class="col-md-5 col-sm-5 col-xs-12 details_left">
          <br>
          <div ng-show="widget.loading || widget.error" style="text-align: center;">
            <br>
            <br>
            <br>
            <i ng-show="widget.loading" class="fa fa-refresh fa-spin fa-5x fa-fw"></i>
            <i ng-show="widget.error" class="fa fa-exclamation-circle fa-5x fa-fw"></i>
            <div ng-show"widget.error">
              {{widget.error}}
            </div>
            <br>
          </div>
          <div ng-show="widget.graphType == 'count'" class="tile_count">
            <div class="tile_stats_count">
              <span class="count-top">Field Path: {{widget.fieldPath.join(".")}}</span>
              <div class="count">{{widget.data}}</div>
              <h3 class="count-bottom">Value: <span class="value">{{widget.value}}</span></h3>
            </div>
          </div>
          <div ng-show="widget.graphType != 'count'">
            <canvas ng-show="!widget.loading && !widget.error" id="{{ widget._id }}" class="chart chart-base"
              chart-type="widget.graphType" chart-options="widget.options" chart-data="widget.data" chart-labels="widget.labels">
            </canvas>
          </div>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12">
          <h3>Widget: {{widget.name}}</h3>

          <form id="form" name="form" class="form-horizontal" role="form" novalidate>
          
            <div ng-show="!edit">
              Description: {{widget.description}}
            </div>
            <div ng-show="edit">
              Description: 
              <br>
              <textarea id="description" name="description" rows="2" class="form-control" style="width: 70%;" maxlength="255" ng-model="widget.description">{{widget.description}}</textarea>
            </div>
            <ul class="list-unstyled entity_details">
              <li>
                <i class="fa fa-user-circle"></i> Created By: {{widget.createdBy.forename}}
              </li>
              <li>
                <i class="fa fa-calendar-check-o"></i> Created Date: {{widget.createdDate}}
              </li>
              <li>
                <i class="fa fa-home"></i> Home Screen:
                <input type="checkbox" class="form-control" title="Check to display widget on the home screen" ng-disabled="!edit" ng-model="widget.displayHome" ng-false-value="'FALSE'" ng-true-value="'TRUE'">
              </li>
              <li>
                <i class="fa fa-globe"></i> API URL: {{widget.apiURL}}
              </li>
              <li>
                <i class="fa fa-exchange"></i> Method: {{widget.method}}
              </li>
              <li>
                <i class="fa fa-tasks"></i> Dataset Path: {{widget.datasetPath.join('.')}}
              </li>
              <li ng-show="!edit">
                <i class="fa fa-code-fork"></i> Field Path: {{widget.fieldPath.join('.')}}
              </li>
              <li ng-show="edit">
                <i class="fa fa-code-fork"></i> Field Path:
                <div class="details-input-group input-group input-group-sm">
                  <label ng-show="widget.fieldPath && widget.fieldPath.length > 0" class="input-group-addon" for="fieldPath">{{widget.fieldPath.join('.')}}</label>
                  <select id="field" name="field" class="select2_single form-control editWidget" ng-model="field" ng-change="widgetCtrl.fieldChanged()" ng-class="{' inputError': form.field.$invalid && ! form.field.$pristine }" required>
                    <option ng-repeat="field in fields" value="{{field}}">{{field}}</option>
                  </select>
                  <a class="btn btn-default input-group-addon" title="Click to clear the fields path." ng-click="widgetCtrl.clearFieldPath()"><i class="fa fa-ban"></i></a>
                </div>
                <p ng-show="form.field.$invalid && !form.field.$pristine" class="has-error" >
                    A field path must be selected.
                </p>
              </li>
              <li ng-show="!edit">
                <i ng-show="widget.graphType == 'count'" class="fa fa-arrow-circle-o-up"></i><i class="fa fa-{{widget.graphType}}-chart"></i> Graph type: {{widget.graphType}}
              </li>
              <li ng-show="edit">
                <i ng-show="widget.graphType == 'count'" class="fa fa-arrow-circle-o-up"></i><i class="fa fa-{{widget.graphType}}-chart"></i> Graph type:
                <select class="select2_single form-control editWidget" id="graph-type" name="graph-type" ng-model="widget.graphType">
                  <option value="bar">Bar</option>
                  <option value="pie">Pie</option>
                  <option value="line">Line</option>
                  <option value="count">Count</option>
                </select>
              </li>
              <li ng-show="!edit && widget.graphType == 'count'">
                <i class="fa fa-commenting-o"></i> Value: {{widget.value}}
              </li>
              <li ng-show="edit && widget.graphType == 'count'">
                <i class="fa fa-commenting-o"></i> Value:
                <input id="widgetValue" name="widgetValue" ng-model="widget.value" class="form-control" type="text" 
                  ng-class="{' inputError': form.widgetValue.$invalid && ! form.widgetValue.$pristine }" ng-required="edit && widget.graphType == 'count'">
                <p ng-show="form.widgetValue.$invalid && !form.widgetValue.$pristine" class="has-error" >
                    Please enter the value to count
                </p>
              </li>
            </ul>

            <a class="btn btn-success" ng-show="!edit" ng-click="widgetCtrl.setEdit()"><i class="fa fa-edit m-right-xs"></i> Edit Widget</a>
            <a class="btn btn-success" ng-show="edit" ng-click="widgetCtrl.saveWidget(widget)"><i class="fa fa-floppy-o m-right-xs"></i> Save Widget</a>
            
            <a class="btn btn-danger" ng-show="!edit" ng-click="widgetCtrl.deleteWidget(widget._id)"><i class="fa fa-trash m-right-xs"></i> Delete Widget</a>
            <a class="btn btn-danger" ng-show="edit" ng-click="widgetCtrl.setEdit()"><i class="fa fa-minus-circle m-right-xs"></i> Cancel Edit</a>

          </form>

          <!-- Space to allow page scrolling -->
          <br />

        </div>
      </div>
    </div>
  </div>
</div>